@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

:root {
  --ease: cubic-bezier(.82, 0, .12, 1);
  --width: 800px;
  --header-height: 400px;

  --tracking: 0.05rem;
  --tracking-medium: 0.5rem;
  --tracking-large: 0.8rem;

  --dark: #000;
  --blue: #33A9FF;
  --light-gray: #fafafa;

  --bg: #fff;
  --fg: #868E96;
  --fg-dark: #212529;
  --grape: #5f3dc4;

  --selection-bg: var(--blue);
  --selection-fg: white;
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  letter-spacing: -0.014em;
  line-height: 25px;
  background: var(--bg);
  color: var(--fg-dark);
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-fg);
}

h1, h2, h3, h4 {
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--fg-dark);
}

h1 {
  margin-top: 0;
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 25px 0;
  line-height: 1.75;
  color: var(--fg-color-light);
}

li strong,
p strong {
  color: var(--fg-dark);
  font-weight: 500;
}

li a,
p a {
  color: var(--fg-dark);
  font-weight: 400;
  padding-bottom: 3px;
  border-bottom: 1px dotted #ddd;
}

li a:hover,
p a:hover {
  color: var(--blue);
  border-bottom: none;
}

p a:hover {
  border-bottom-color: var(--color);
}

ul {
  margin: 50px 0 50px 30px;
  padding: 0;
}

ul ul {
  margin: 10px 0 10px 30px;
}

ul li {
  margin: 5px 0;
  color: var(--fg-color-light);
  line-height: 1.5em;
}

ul li strong {
  color: var(--fg-color);
  font-weight: 500;
}

pre {
  background: var(--light-gray);
  color: var(--dark);
  padding: 30px;
  border-radius: 2px;
  overflow-x: auto;
  font-family: "Source Code Pro","SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: .8em;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--fg-dark);
  border-left: 0.25em solid var(--grape);
}

li > code,
p > code,
td > code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #DEE2E6;
  font-size: 85%;
  line-height: 1.5;
  font-weight: 300;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  white-space: nowrap;
  font-family: "Source Code Pro","SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  -webkit-font-smoothing: antialiased;
}

details > summary {
  cursor: pointer;
  outline: none;
  user-select: none;
}

details > p {
  border-left: 3px solid var(--grape);
  padding-left: 15px;
}

.Wrapper {
  display: flex;
  justify-content: center;
}

.Container {
  width: var(--width);
  display: flex;
  flex-direction: column;
}

.Content-wrapper {
  display: flex;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}

.Sidebar {
  flex: 1 1 auto;
}

.Content {
  width: 75%;
}

.Content img {
  max-width: 100%;
}

.Menu {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  color: var(--fg-dark);
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  letter-spacing: -0.006em;
  line-height: 20px;
}

.Menu > .item {
  padding-bottom: 15px;
}

.Menu > .item > a {
  position: relative;
  user-select: none;
  font-weight: 400;
  transition: color 200ms;
  color: var(--fg);
}

.Menu > .item > a.active {
  color: var(--fg-dark);
}

.Menu > .item > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: var(--fg-dark);
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left center;
  transition: all 250ms var(--ease);
}

.Menu > .item > a:hover {
  color: var(--fg-dark);
}

.Menu > .item > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.Page {
  margin-top: 100px;
  padding-top: 50px;
}

.Page:first-child {
  margin-top: 0;
  padding-top: 0;
}

.Title {
  margin: 5px 0;
  line-height: 2.2em;
}

.Title.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 500px;
}

.Title.margin {
  margin-bottom: 80px;
}

.Title > span {
  display: block;
}

.Title .subtext {
  color: var(--fg-color-light);
  font-size: 0.8rem;
  text-transform: uppercase;
  display: none;
}

.Title .text {
  letter-spacing: var(--tracking);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.Title.small .text {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  line-height: 2rem;
}

.Anchor {
  position: relative;
  margin-left: -14px;
  opacity: 0.15;
  display: inline-block;
  width: 14px;
  height: 14px;
}

.Anchor svg {
  position: absolute;
  right: 5px;
  top: 0;
}

.Anchor svg path {
  pointer-events: all
}

.Anchor:hover {
  opacity: 1;
}

.Footer {
  margin: 50px 0;
  border-top: 1px solid var(--grape);
  height: 100px;
}

@media screen and (max-width: 850px) {
  html, body {
    --header-height: 300px;
    --width: 80%;
    font-size: 14px;
  }

  .Content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .Sidebar {
    margin-bottom: 30px;
  }

  .Content {
    width: 100%;
  }
}


.Content table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
}

.Content table th {
  font-weight: 600;
}

.Content table th,.Content table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.Content table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.Content table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.Content table img {
  background-color: transparent;
}
